.newsletter-section{
    background: rgba(205, 245, 146, 0.664);
    margin-top: 2em;
    padding: 5rem;
}


.mini-title{
    text-align: center;
}

.subscribe{
    text-align: center;
}

.input{
    color: rgb(0, 0, 0);
    border: none;
    padding: .5em;
    margin-left: 15rem;
}

.submit{
    border: none;
    padding: .5em;
    margin-left: 1rem;
    border-radius: 5px;
    background-color: #1b2a49;
    color: #fff;
}


@media screen and (min-width: 360px){
    .mini-title{
        font-size: 2em;
        text-transform: uppercase;
    }

    .subscribe{
        font-size: 1em;
    }

    .sub-form{
        display: flex;
        flex-flow: row wrap;
    }

    .input{
        margin: 0 auto;
    }

    .submit{
        margin: 1em auto 0;
    }
}