button{
    border: none;
    background: #1b2a49;
    border-radius: 5px;
    color: #fff;
    padding: .5em;
    margin-left: 44em;
}

.resource-title{
    transform: rotate(90deg);
    position: relative;
    top: 35rem;
    bottom: 0;
    right: 31rem;
}

@media screen and (min-width: 320px) and (max-width: 414px){
    hr{
        display: none;
    }

    .resource-title{
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transform: rotate(0deg);
        text-align: center;
    }

    button{
       font-size: .8em;
        margin: auto 5.5em;
    }
}